---
name: Publish Ansible role to Galaxy
on:
  workflow_call:
  workflow_dispatch:
  push:
    tags:
      - 'v*.*.*'

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    timeout-minutes: 5
    environment: Galaxy
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Publish Ansible role to Galaxy
        uses: robertdebock/galaxy-action@7d89099e09f4385ec4b53eb58c0d120f1ad806dd # 1.2.1
        with:
          galaxy_api_key: ${{ secrets.ANSIBLE_GALAXY_TOKEN }}
          git_branch: "${{  github.ref_name }}"
